<% for(let i=0; i< playlist.length; i++) { %>

<tr>
    <td><%=i + 1 %> </td>  
    <td><%=playlist[i].name%> </td>    
    <td><%=playlist[i].link%> </td>
    <td><%=playlist[i].desc%> </td>
    <td>
        <a href="/editplaylist" class="edit">
            <span class="text-gradient"><i class="fa-solid fa-pen-clip"></i></span>
        </a>
        <a href="#" class="delete">
            <span class="text-gradient"><i class="fa-solid fa-ban"></i></span>
        </a>
    </td>        
</tr>
<% } %>