<tr>
    <td>Name</td>    
    <td>Non-Link</td>
    <td>Fun Playlist</td>
    <td>
        <a href="#" class="add">
            <span class="text-gradient"><i class="fa-solid fa-circle-plus"></i></span>
        </a>
        <a href="#" class="delete">
            <span class="text-gradient"><i class="fa-solid fa-ban"></i></span>
        </a>
    </td>        
</tr>