<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Playlist List</title>
    <script src="https://kit.fontawesome.com/7355fed2f6.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-text">Playlist</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-list" class="border-shadow">
                <span class="text-gradient"><i class="fa-solid fa-music"></i>New Playlist</span>
                </a>
            </div>
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thea-dark">
                        <th>Name</th>
                        <th>Playlist Link</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>    
                            <td>Non-Link</td>
                            <td>Fun Playlist</td>
                            <td>
                                <a href="#" class="add">
                                    <span class="text-gradient"><i class="fa-solid fa-circle-plus"></i></span>
                                </a>
                                <a href="#" class="delete">
                                    <span class="text-gradient"><i class="fa-solid fa-ban"></i></span>
                                </a>
                            </td>        
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>
</html>