
<%- include('partials/_header')%>
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/addplaylist" class="border-shadow">
            <span class="text-gradient"><i class="fa-solid fa-music"></i>New Playlist</span>
            </a>
        </div>
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <th>Name</th>
                    <th>Playlist Link</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <%- include('partials/_table')%>
                </tbody>
            </table>
        </form>
    </div>
</main>

<%- include('partials/_footer')%>