<%- include('partials/_header')%>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
          <div class="filter">
              <a href="/"><i class="fa-solid fa-angle-left"></i>All Playlist</a>
          </div> 
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New List</h2>
            <span class="text-light">Input information below to create new playlist</span>
        </div>
        <form action="/api/playlist" method="POST" id="add_playlist">
            <div class="new_playlist">
                <div class="form group">
                    <label for="name" class="text-light">Name</label>
                    <input type="text" name="name" value="" placeholder="Name">
                </div>
                <div class="form group">
                    <label for="playlist" class="text-light">Playlist</label>
                    <input type="text" name="link" value="" placeholder="Link URL">
                </div>
                <div class="form group">
                    <label for="description" class="text-light">Description</label>
                    <input type="text" id="description" name="desc" value="">
                </div>
            <div class="form-group">
                <button type="submit" class="btn-text-dark">Save</button>
            </div>        
            </div>
        </form>
    </div>
</main>

<%- include('partials/_footer')%>